
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 400px;
  box-shadow: 3px 2px 15px 0px rgba(0, 0, 0, 0.164);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input:not([type='file']), select {
  padding: 8px 0px 8px 5px;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
}

input[type='file'] {
  padding: 8px 0px 8px 0px
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}